html {
    font-size: 100%;
    overflow-x: hidden !important;
    body {
        font-family: 'News Cycle', sans-serif !important;
    }
    h1,
    h2 {
        font-size: 4.4rem;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1;
    }
    h2 {}
    p {}
    i {
        font-style: normal;
        color: #fff;
    }
    .wrappy {
        background: $grayO;
        color: #FFF;
    }
    .column,
    .columns {
        margin: 1rem 0;
    }
    button {
        border: .2rem solid #fff;
        background-color: rgba(255, 255, 255, 0);
        margin-left: 12px;
        i {
            font-size: 2rem !important;
            font-family: 'News Cycle', sans-serif !important;
        }
    }
    button:hover {
        background-color: rgba(255, 255, 255, 0);
    }
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../img/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
    }
    .scroll-top-wrapper {
        position: fixed;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        text-align: center;
        z-index: 99999999;
        color: #eeeeee;
        line-height: 48px;
        right: 30px;
        bottom: 15px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }
    .scroll-top-wrapper:hover {
        bottom: 20px;
    }
    .scroll-top-wrapper.show {
        visibility: visible;
        cursor: pointer;
        opacity: 1.0;
    }
    .scroll-top-wrapper i.fa {
        line-height: inherit;
    }
}