@font-face {
    font-family: "responsivenav";
    src: url("../img/icons/responsivenav.eot");
    src: url("../img/icons/responsivenav.eot?#iefix") format("embedded-opentype"), url("../img/icons/responsivenav.ttf") format("truetype"), url("../img/icons/responsivenav.woff") format("woff"), url("../img/icons/responsivenav.svg#responsivenav") format("svg");
    font-weight: normal;
    font-style: normal;
}