// Declarations
.clear {
    clear: both;
}

.middle {
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

.center {
    text-align: center;
}

small {
    font-size: 50%;
}

.vAlign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

// Declarations End
// Mixins
@mixin transition {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

@mixin grow {
    transform: scale(1.1);
    font-size: 2em;
}

// Page Specific Elements
$grayO: rgba(150,
150,
150,
0.7);
$lindeGreen: #2A3A39;
.section {
    z-index: 1;
}

body {
    a {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-decoration: none;
        color: #fff;
    }
    .button {
        padding: .5rem .5rem .9rem .5rem;
        margin: .5rem -5px .5rem 0;
        cursor: pointer;
    }
}

html {
    font-size: 100%;
    overflow-x: hidden !important;
    body {
        font-family: 'News Cycle', sans-serif !important;
    }
    h1,
    h2,
    h3 {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 1rem 0;
        line-height: 1;
        color: #fff;
    }
    h1 {
        font-size: 3.4rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.6rem;
    }
    h4 {
        font-size: 2rem;
    }
    p {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #fff;
        font-size: 1rem;
    }
    i {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        color: #fff;
    }
    .button {
        border: .2rem solid #fff;
        background-color: rgba(255, 255, 255, 0);
        margin-left: 12px;
        i {
            font-size: 2rem !important;
            font-family: 'News Cycle', sans-serif !important;
        }
    }
    button:hover {
        background-color: rgba(255, 255, 255, 0);
    }
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url("../img/loader.gif") 50% 50% no-repeat rgb(249, 249, 249);
    }
    .scroll-top-wrapper {
        position: fixed;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        text-align: center;
        z-index: 99999999;
        color: #eeeeee;
        line-height: 25px;
        right: 30px;
        bottom: 0px;
        @include transition;
    }
    .scroll-top-wrapper i:hover {
        color: $lindeGreen;
        @include transition;
    }
    .scroll-top-wrapper.show {
        visibility: visible;
        cursor: pointer;
        opacity: 1.0;
    }
    .scroll-top-wrapper i.fa {
        line-height: inherit;
    }
}

header {
    background: #FFF;
    position: fixed;
    z-index: 3;
    width: 100%;
    left: 0;
    top: 0;
}

// Navigation
.nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
}
nav a{
  color:$lindeGreen !important;
}

.nav-collapse li {
    width: 100%;
    display: block;
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

.nav-collapse.opened {
    max-height: 9999px;
}

.disable-pointer-events {
    pointer-events: none !important;
}

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.portfolioLogo {
    width: 12rem;
    display: block;
    margin: 0 auto;
}
/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

.logo {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    width: 4.5rem;
    padding: .5rem;
    float: left;
}
/* ------------------------------------------
  MASK
--------------------------------------------- */

.mask {
    @include transition;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    position: fixed;
    opacity: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.android .mask {
    -webkit-transition: none;
    transition: none;
}

.js-nav-active .mask {
    visibility: visible;
    opacity: 1;
}
/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.nav-collapse,
.nav-collapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
    list-style: none;
    width: 100%;
    float: right;
}

.nav-collapse li {
    float: left;
    width: 100%;
}

.nav-collapse a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-top: 1px solid white;
    text-decoration: none;
    padding: 0.7em 1em;
    color: rgba(94, 177, 255, 1);
    float: left;
    text-align: center;
    font-size: 1.6rem;
}

.active {
    color: grey !important;
}

.nav-collapse ul ul a {
    padding-left: 1em;
}
/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

.nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    text-indent: -300px;
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 70px;
    float: right;
}

.nav-toggle:before {
    color: $lindeGreen;
    /* Edit this to change the icon color */

    font: normal 3rem "responsivenav";
    /* Edit font-size (28px) to change the icon size */

    text-transform: none;
    text-align: center;
    position: absolute;
    content: "\2261";
    /* Hamburger icon */

    text-indent: 0;
    speak: none;
    width: 100%;
    left: 0;
    top: 12px;
}

.nav-toggle.active:before {
    font-size: 3rem;
    content: "\78";
    /* Close icon */
}

// Navigation End
//Social Bar
//Social bar end
.wrap {
    margin: 3rem 0;
    padding: 2rem 2rem;
    background: $grayO;
}

#section1 {
    background: url(../img/bg/bg1.jpg) no-repeat center fixed;
    .intro {
        width: 100%;
        z-index: 6;
    }
    img {
        border-radius: 20rem;
        width: 20rem;
        border: 1rem solid $lindeGreen;
    }
    .introTxt {
        background-color: $lindeGreen;
        color: white;
        position: fixed;
        bottom: -50px;
        width: 100%;
        height: 8rem;
    }
    .hr {
        background-color: $lindeGreen;
        height: 20px;
        height: 20px;
    }
}

#section2 {
    background: url(../img/bg/bg2.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section3 {
    background: url(../img/bg/bg3.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .innerBlock {
        padding: 0.9375rem;
        h3 {
            text-align: center;
            min-height: 4rem;
        }
    }
    .frontIcons {
        display: block;
        margin: 2rem auto;
        width: 6rem;
        height: auto;
    }
    .column,
    .columns {
        margin: 0 auto;
    }
}

#section4 {
    background: url(../img/bg/bg4.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ul {
        display: block;
        margin: 0 auto;
    }
    .og-grid {
        p {
            font-size: 150%;
        }
    }
}

#section5 {
    background: url(../img/bg/bg5.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*Contact Form*/

    .input-field {
        font-family: 'News Cycle', sans-serif;
    }
    .form-style {
        font: 13px;
        margin: 0 auto;
    }
    .form-style span.required {
        color: red;
    }
    .form-style input.input-field {
        width: 100%;
    }
    .form-style input.input-field,
    .form-style .tel-number-field,
    .form-style .textarea-field,
    .form-style .select-field {
        -webkit-transition: border 0.30s ease-in-out;
        -moz-transition: border 0.30s ease-in-out;
        -ms-transition: border 0.30s ease-in-out;
        -o-transition: border 0.30s ease-in-out;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0);
        box-shadow: 1px 1px 4px #EBEBEB;
        -moz-box-shadow: 1px 1px 4px #EBEBEB;
        -webkit-box-shadow: 1px 1px 4px #EBEBEB;
        padding: .3rem;
        font-size: 1.4rem;
        outline: none;
        font-family: 'News Cycle', sans-serif !important;
        margin: .3rem;
    }
    .form-style .input-field:focus,
    .form-style .tel-number-field:focus,
    .form-style .textarea-field:focus,
    .form-style .select-field:focus {
        border: 1px solid #0C0;
    }
    .form-style .textarea-field {
        height: 100px;
        width: 100%;
    }
    .form-style .success {
        padding: 5px 10px 5px 10px;
        border: none;
        font-weight: bold;
        font-size: 2.6rem;
        font-family: 'News Cycle', sans-serif !important;
        color: #fff;
        margin: 4rem;
        text-align: center;
    }
    .form-style .error {
        font-size: 2.6rem;
        padding: 5px 10px 5px 10px;
        margin: 4rem;
        text-align: center;
        border: none;
        font-weight: bold;
        color: #fff;
        font-family: 'News Cycle', sans-serif !important;
    }
    // Contact Form End
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $grayO;
    .columns {}
    .social {
        i {
            padding: .5rem;
            margin: .3rem;
        }
    }
    ul li {
        list-style: none;
        color: white;
        font-weight: 500;
    }
}
