// Or selectively include components
@import //   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
"foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//  "foundation/components/buttons"
"foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
"foundation/components/grid",
"foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
"foundation/components/tables",
//   "foundation/components/tabs",
"foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//  "foundation/components/offcanvas",
"foundation/components/visibility";
@import "fonts";
@import "fullpage";
@import "styles";
@import "gallery";
@import "animations";
@media only screen and (max-width: 640px) {
    @import '../scss/responsive/max640px';
}

@media only screen and (min-width: 641px) {
    @import '../scss/responsive/min641px';
}

@media only screen and (max-width: 1024px) {
    @import '../scss/responsive/max1024px';
}

@media only screen and (min-width: 1025px) {
    @import '../scss/responsive/min1025px';
}

@media only screen and (min-width: 1441px) {
    @import '../scss/responsive/min1441px';
}