html {
    font-size: 80%;
    h1, h2, h3 {
        text-align: center;
    }
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.8rem;
    }
}

.nav-collapse a {
    width: 100%;
}

.scroll-top-wrapper {
    display: none;
}

#fp-nav {
    display: none;
}

.logo{
    padding:.4rem;   
    margin:.5rem 0 0 .4rem;
}

#section1 {
    .down {
        margin-top: 1rem;
    }
}

#section3 {
    .og-grid {}
    .frontIcons {
        width: 8rem;
    }
}

footer {
    .social {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .copyRight {
        text-align: center;
        margin-bottom: 1rem;
    }
}