html {
    h1, h2, h3 {
        font-size: 320%;
    }
    p {
        font-size: 260%;
    }
    .og-expander-inner p {
        font-size: 180%;
    }
    #section3 {
        .innerBlock {
            h3 {
                min-height: 8rem;
            }
        }
    }
}