html {
    h1, h2, h3, p {
        font-size: 180%;
    }
    p {
        font-size: 120%;
    }
}

nav a {
    text-decoration: none;
    color: $lindeGreen;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    font-weight: 400;
}

.nav-collapse {
    display: inline-block;
    width: auto;
    height: 100%;
}

.nav-collapse li {
    width: auto;
}

.nav-collapse a {
    border-left: .2rem solid white;
    border-top: 0;
    margin: 0;
    @include transition;
}

.nav-collapse a:hover {
    color: grey;
}

.mask {
    display: none !important;
    opacity: 0 !important;
}

.js .nav-collapse {
    position: relative;
}

.js .nav-collapse.closed {
    max-height: none;
}

.nav-toggle {
    display: none;
}

html {
    .button:hover {
        background-color: $lindeGreen;
        @include transition;
    }
}

.section {}

#section1 {
    .intro {}
    .down {
        position: absolute;
        bottom: 50px;
        i {
            color: white;
            @include transition;
        }
        i:hover {
            color: $lindeGreen;
        }
    }
}

#section2 {}

#section3 {
    .frontIcons {
        width: 24rem;
        height: 100%;
        color: white;
    }
    .innerBlock {
        background: $lindeGreen;
        h2 {
            margin: 1rem;
            padding: 0;
        }
    }
}

#section4 {
    .fadeImg {
        opacity: .8;
        @include transition;
    }
    .fadeImg:hover {
        opacity: 1;
    }
}

#section5 {
    footer {
        .social {
            display: block;
            margin: 0 auto;
            i {
                -webkit-transform: scale (1.0);
                -ms-transform: scale (1.0);
                transform: scale (1.0);
            }
            i:hover {
                @include transition;
                @include grow;
                color: $lindeGreen;
            }
        }
        .copyRight {
            text-align: right;
            i {}
        }
    }
}
