//Social Bar
html {
    h1, h2, h3, {
        font-size: 240%;
    }
    p {
        font-size: 200%;
    }
}

//Social bar end
.fullWidth {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#section1{
    
}
#section3 {
    .innerBlock {
        h3 {
            min-height: 6rem;
        }
    }
    .og-grid a {
        
    }
}

#section4 {
    .og-grid{
        
        p{
         font-size:150%;   
        }
            
    }
}